@import url(reset.css);

 body{
         background-color: rgb(3, 186, 189);
}
.box{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    width:100px;
    height: 100px;
    background-color:white;
    border-radius: 0;
   animation-name: Pr;
   animation-duration: 2s;
   animation-iteration-count:infinite;
 animation-fill-mode: forwards;
 animation-timing-function: revert;


   
}

@keyframes Pr{
0%{
transform: rotate(-180deg);
}
50%{
border-radius: 50%;
transform: scale(0.5);

}
100%{
transform: rotate(180deg);
        
}
}


.pulse{
  width:20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin: 50px 0 0 50px;
  animation: pulse 1.5s infinite;

}
@keyframes pulse{
  0%{
      box-shadow: 0 0 0 0 #3755a4;
      
  }
  75%{
      box-shadow: 0 0 0 10px #3755a4 transparent;
  
  }
}